APP_NAME="BPC LearnShare"
APP_ENV=local
APP_DEBUG=false
APP_TIMEZONE=Asia/Manila
APP_URL=http://127.0.0.1:8766

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=bpc_learnshare_dev
DB_USER=bpc_learnshare_app
DB_PASS=replace-with-local-password
